@use "./../variables/" as *;
@use "./../abstracts/" as *;

.hero-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 1em;
  .hero-section-inner {
    @media (max-width: 768px) {
      width: 80%;
    }
  }
}

.certifications {
  margin: 3em 0;
}

section {
  margin-bottom: 1em;
}

.section-title {
  font-size: 2.3rem;
  margin: 1em 0;
  font-family: $heading-font;
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -0.25em;
    width: 80px;
    height: 5px;
    background: black;
  }
}

.certifications {
  .grid {
    @media (max-width: 576px) {
      @include grid(2);
    }
  }
}

.recent-products {
  .grid {
    &__item {
      .card {
        &__img {
          overflow: hidden;
          position: relative;
          &::after {
            content: "View Product";
            position: absolute;
            inset: 0;
            background: rgba($color: #000000, $alpha: 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: white;
            font-family: $special-font;
            opacity: 0;
            transition: all 300ms ease-out;
          }
          img {
            display: block;
            transition: all 300ms ease-out;
          }
        }
        &:hover {
          .card__img {
            &::after {
              opacity: 1;
            }
            img {
              transform: scale(1.05);
            }
          }
        }
        &__body {
          &__text {
            font-size: 0.9rem;
            del {
              opacity: 0.6;
              margin-right: 0.25em;
            }
          }
        }
      }
    }
  }
}

.counter-section {
  background: $yellow-clr;
  padding: 100px 0;
  .grid {
    align-items: center;
    .grid__item:nth-child(1) {
      grid-area: col1;
    }
    .grid__item:nth-child(2) {
      grid-area: col2;
    }
    .grid__item:nth-child(3) {
      grid-area: col3;
    }
    grid-template-areas: "col2" "col1" "col3";
    @include mq(md) {
      @include grid(1);
    }
    @include mq(lg) {
      @include grid(3);
      grid-template-areas: "col1 col2 col3";
    }
  }
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    .icon {
      width: 70px;
    }
    .counter-num {
      font-size: 5rem;
      font-family: $heading-font;
      color: $primary-clr;
    }
  }
  &__subtitle {
    color: $primary-clr;
  }
  &__title {
    font-size: 2.5rem;
    font-family: $special-font;
    margin: 1em;
    color: $theme-green;
  }
  .counter-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
