@use "./../variables/" as *;

.jump-to-top {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: $theme-green;
  background: #ccc;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  z-index: 9999;
  cursor: pointer;
  color: black;
  transition: 100ms ease-in-out;
  &:hover {
    background: darken($color: #ccc, $amount: 5%);
  }
}
