@use "./../variables/" as *;
@use "./../abstracts/" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-clr;
  color: $text-clr;
  width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

[class*="inner"] {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}
